body {
    font-family: Arial, Helvetica, sans-serif;
}

.messages {
    width: 20em;
    background: whitesmoke;
    padding: 16px;
    border: 1px solid #d8d8d8;
    border-radius: 5px;
    margin: 0 16px 16px 0;
}

.message-list {
    min-height: 10em;
    background-color: #ffffe1;
    list-style: none;
    overflow: auto;
    height: 100px;
    padding: 5px;
    border-radius: 5px;
    border: 2px solid #dad05b;
    margin: 0 0 16px 0;
}

.message-item {
    padding: 5px;
    border-radius: 2px;
    background: #c6ffd2;
    border: 1px solid #87d07a;
    margin-bottom: 5px;
}

video {
    background: #16185a;
    width: 100%;
}